# dependencies
**/node_modules/

# builds
**/dist/
**/build/
**/.next/
**/.vercel/
**/.turbo/

# env files (DO NOT COMMIT)
**/.env
**/.env.*
!**/.env.example

# logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# coverage
**/coverage/

# misc
**/*.local